<input type="hidden" id="Myid" value="">
{% if request.user.is_superuser or request.user.groups.filter(name='Врач').exists %}
<div class="form-group mb-2">
    {{ form.patient.label_tag }}
    {{ form.patient }}
</div>
{% endif %}
{% for field in form.visible_fields %}
    {% if field.name != 'patient' %}
    <div class="form-group mb-2">
        {{ field.label_tag }}
        {{ field }}
    </div>
    {% endif %}
{% endfor %}
<div class="d-grid gap-2 mt-3">
    <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Отмена</button>
</div>
